@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Combo&family=Source+Sans+Pro:wght@300&display=swap');

$primary-typography: "Combo";
$secondary-typography: "Source Sans Pro";

.h1{
    font-family: $primary-typography;
}

.h4{
    font-family: $secondary-typography;
}
